{
    "server": "you-sql-server.database.windows.net",
    "database": "your-database",
    "tenant_id": "your-tenant-id",
    "client_id": "your-client-id",
    "client_secret": "your-client-secret",
    "driver": "{ODBC Driver 17 for SQL Server}"
}